

.online {
    font-family: 'Black Ops One', cursive;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.online .online-welcome {
    background-image: url('../../images/projectBattleShip.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(247, 247, 247);
    margin-top: 5%;
    box-shadow: 0rem 0rem 8rem rgb(0,0,0) inset;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
}

.online .online-welcome p {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.753);
    word-break:normal;
    width: 40%;
    min-width: min-content;
    height: 12rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    color:rgb(34, 34, 34);
    backdrop-filter: blur(5px);
    padding: 2%;
    border-radius: 2rem 1rem 1rem 2rem;
    background-color: rgba(99, 18, 18, 0.39);
}

.online .online-welcome p::-webkit-scrollbar {
    background-color: rgba(12, 12, 12, 0.432);
    border-radius: 0 2rem 2rem 0;
}
.online .online-welcome p::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 0 1rem 1rem 0;
}

.online .online-panel {
    background-color: #6d1f1f;
    width: 100%;
    height: 8vw;
    min-height: 7rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.37) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online .online-panel .find-create-btn, .single-player-btn {
    font-family: 'Black Ops One', cursive;
    font-size: 1rem;
    width: 10vw;
    height: 6vh;
    max-height: 6rem;
    min-width: fit-content;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 1.3rem;
    background-color: #d1d1d1;
    transition: all 300ms;
    user-select: none;
}

.online .online-panel .find-create-btn:hover {
    background: #57d376;
    box-shadow: .1rem .1rem .5rem .1rem #000000a8 inset;
}

.online .online-panel .single-player-btn:hover {
    background: #57b6d3;
    box-shadow: .1rem .1rem .5rem .1rem #000000a8 inset;
}

.match-maker-open {
    user-select: none;
    overflow-y: scroll;
    margin-top: 1.5%;
    position: absolute;
    display:flex;
    justify-self: center;
    align-self: center;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 0rem 0rem 6rem .5rem #000000c2 inset;
    width: 87vw;
    height: 87vh;
}

.match-maker-open::-webkit-scrollbar {
    background-color: rgba(65, 65, 65, 0.767);
    border-radius: 0 2rem 2rem 0;
}

.match-maker-open::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 0 1rem 1rem 0;
}

.match-maker-open .match-maker-list {
    border-right: 3px solid rgb(3, 3, 3);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%; 
}

.match-maker-open .match-maker-list-nav {
    display: flex;
    background-color: black;
    width: 100%;
    height:2.5rem;
    min-height: 2.5rem;
    align-items: center;
}

.match-maker-open .match-maker-list-nav .match-nav-back-open {
    height: 70%;
    width: 8%;
    margin-left: 1%;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: 1.5px solid rgb(54, 54, 54);
    border-radius: 1rem;
    text-align: center;
    transition: all ease-out 300ms;
    user-select: none;
}

.match-maker-open .match-maker-list-nav .match-nav-back-open:hover {
    transition: all ease-in 300ms;
    background-color: rgb(207, 207, 207);
    color: #000000;
}

.match-maker-list-nav .match-nav-back-closed {
    display: none;
}

.match-maker-open .match-maker-list .MM-player {
    width: 100%;
    height: 10%;
    color: #d1d1d1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #00000067;
    display: flex;
    overflow: hidden;
}

.match-maker-open .match-maker-list .MM-player .MM-player-dropdown {
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 100%;
    width: fit-content;
    background-color: #3b3b3b;
    box-shadow: 0rem 0rem .5rem .1rem black inset;
    animation: .5s ease-in 0s 1 slideInFromRight
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0);
    }
}

.match-maker-open .match-maker-list .MM-player .MM-player-dropdown p {
    margin-left: 15%;
    color: #00000067;
    font-size: 2.5rem;
    user-select: none;
}

.match-maker-open .match-maker-list .MM-player .MM-player-dropdown .MM-player-invite {
    margin-left:10%;
    background-color: rgb(24, 46, 26);
    width: 25%;
    height: 60%;
    border-radius: 1rem;
    min-width: fit-content;
    min-height: fit-content;
    box-shadow: 0 0 .3rem .2rem rgba(0, 0, 0, 0.377) inset;
    color: rgb(143, 143, 143);
    border: none;
    font-size: 1.3rem;
    font-family: 'Black Ops One', cursive;
    transition: all 700ms ease-out;
}

.match-maker-open .match-maker-list .MM-player .MM-player-dropdown .MM-player-invite:hover {
    background-color: rgb(38, 129, 43);
    color: rgb(169, 196, 168);
    box-shadow: 0rem 0rem 2rem .1rem rgba(35, 180, 22, 0.692);
    transition: all 250ms ease-in;
}

.match-maker-open .match-maker-list .MM-player .MM-tag {
    color: black;
    margin-left: 2%;
    background-color: #6d1f1f;
    border: 2px solid black;
    align-self: center;
    user-select: none;
    font-size: 2rem;
    box-shadow: .3rem .4rem .5rem rgba(0, 0, 0, 0.658);
}

.match-maker-open .match-maker-list .MM-player .MM-username {
    margin-left: 5%;
    align-self: center;
    user-select: none;
    font-size: 2.5rem;
    text-shadow: .3rem .6rem .5rem #000000;
}

.match-maker-open .match-maker-list .MM-empty {
    width: 100%;
    height: 10%;
    color: #a5a5a5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #00000067;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.match-maker-open .match-maker-invites {
    width: 25%;
    height: 99%;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.match-maker-open .match-maker-invites .listed-invite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline:2px solid black;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.712) inset;
    background-color: #cfc85d67;
    height: 14.8%;
    font-size: 1.3vw;
    word-break: normal;
    transition: all ease-out 500ms;
    animation: .5s ease-in 0s 1 slideInFromRightInvite;
    user-select: none;
}

.match-maker-open .match-maker-invites .listed-invite:hover {
    transition: all ease-in 300ms;
    background-color: #fce97e;
    box-shadow: 0 0 6rem .1rem #b3a349be;
}

.match-maker-open .match-maker-invites .listed-invite-outgoing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline:2px solid black;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.712) inset;
    background-color: #60bd5d67;
    height: 14.8%;
    font-size: 1.3vw;
    word-break: normal;
    transition: all ease-out 500ms;
    animation: .5s ease-in 0s 1 slideInFromRightInvite;
    user-select: none;
}

.match-maker-open .match-maker-invites .listed-invite-outgoing-declined {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline:2px solid black;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.712) inset;
    background-color: #bd5d5d67;
    height: 14.8%;
    font-size: 1.3vw;
    word-break: normal;
    transition: all ease-out 500ms;
    animation: .5s ease-in 0s 1 slideInFromRightInvite;
    user-select: none;
}

.match-maker-open .match-maker-invites .listed-invite-outgoing-declined:hover {
    transition: all ease-in 300ms;
    background-color: #ec4d4dbd;
    box-shadow: 0 0 6rem .1rem #d35757;
}

@keyframes slideInFromRightInvite {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0);
    }
}

.match-maker-open .match-maker-invites .listed-invite-outgoing:hover {
    transition: all ease-in 300ms;
    background-color: #52ec4dbd;
    box-shadow: 0 0 6rem .1rem #57d376;
}

.match-maker-open .match-maker-invites .listed-options {
    display: flex;
    color:#a5a5a5;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3b3b3ba4;
    border-radius: .5rem;
    border-top: 2px solid black;
    width: 85%;
    height: 50%;
}

.match-maker-open .match-maker-invites .listed-invite .listed-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3b3b3ba4;
    border-radius: .5rem;
    border-top: 2px solid black;
    width: 85%;
    height: 50%;
}

.match-maker-open .match-maker-invites .listed-invite .listed-options button {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: .6rem;
    font-size: 1vw;
    padding: .5vh .5vw .5vh .5vw;
}

.match-maker-open .match-maker-invites .listed-invite .listed-options .accept {
    background-color: rgb(47, 90, 52);
    color: #c7c7c7;
    transition: all ease-out 700ms;
}

.match-maker-open .match-maker-invites .listed-invite .listed-options .accept:hover {
    transition: all ease-in 250ms;
    background-color: rgb(67, 151, 77);
    box-shadow: 0 0 2rem .3rem rgb(67, 151, 77);
    color: #dffdcd;
    
}

.match-maker-open .match-maker-invites .listed-invite .listed-options .decline {
    background-color: #6d1f1f;
    color: #c7c7c7;
    transition: all ease-out 700ms;  
}

.match-maker-open .match-maker-invites .listed-invite .listed-options .decline:hover {
    transition: all ease-in 250ms;
    background-color: #940b0b;
    box-shadow: 0 0 2rem rgb(163, 49, 49);
    color: #ffcece;
}

@media screen and (max-width: 800px) {
    .online .online-welcome p {
        width: 55%;
        height: 10rem;
    }
}