
.error-card {
    display: flex;
    justify-content: center;
    background-color: #6d1f1f;
    width: 40%;
    border-radius: 15px;
    box-shadow: .5rem .5rem 1.5rem 0rem #0000007a;
    font-family: 'Black Ops One', cursive;
    animation: fade-in-out  3.2s;
    align-self: center;
    margin-top: 5%;
}

@keyframes fade-in-out {
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.login-redirect {
    margin-top: 4%;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.login-card {
    padding: 2%;
    background-color: rgb(59, 59, 59);
    margin-top: 5%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .5rem .5rem 1.5rem 0rem #0000007a;
    border-radius: 15px;
}

.login-card .login-form .missionFailed {
    text-decoration: underline;
    font-size: .7rem;
}

.login-card .login-form p {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.login-form {
    user-select: none;
    font-family: 'Black Ops One', cursive;
    border-radius: 15px;
    padding: 5%;
    background-color: rgb(37, 37, 37);
    box-shadow: .5rem .5rem .7rem .1rem #00000081 inset;
    background-color: #6d1f1f;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.login-form label {
    user-select: none;
    padding: 2%;
}

.login-form #user_in, #pass_in {
    margin-left: 1rem;
    box-shadow: .1rem .1rem .5rem .1rem #000000a8 inset;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    border-radius: .5rem;
    width: 50%;
}

.login-form #user_in, #pass_in:focus {
    outline: none;
}

.login-form button {
    user-select: none;
    border-radius: .5rem;
    background-color: #cacaca;
    margin-top: 3%;
    padding: 2% 10% 2% 10%;
    font-size: 1rem;
    font-family: 'Black Ops One', cursive;
    transition: all 200ms;
}

.login-form button:hover { 
    background: #a2f8b8;
    box-shadow: .1rem .1rem .5rem .1rem #000000a8 inset;
} 

@media screen and (max-width: 900px) {

    .login-form {
        padding: 2%;
        font-size: 1.5rem;
    }
    .login-card .login-form .missionFailed {
        text-decoration: underline;
        font-size: .7rem;
    }
    .login-card .login-form p {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    .login-form label {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        padding: .5% 0 .5% 0;
    }
    .login-form #user_in, #pass_in {
        margin-left: .5rem;
        font-size: 1.4rem;
    }

    .error-card {
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
    }
    
}

@media screen and (max-width: 600px) {
    .error-card {
        width: 70%;
    }
}

@media screen and (max-width: 370px) {

    .login-form {
        padding: 2%;
        font-size: 1.1rem;
    }
    .login-card .login-form .missionFailed {
        text-decoration: underline;
        font-size: .5rem;
    }
    .login-card .login-form p {
        font-size: .7rem;
        display: flex;
        align-items: center;
    }
    .login-form label {
        display: flex;
        justify-content: center;
        height: 1.5rem;
        margin-top: 2%;
        padding: .5% 0 .5% 0;
    }
    .login-form #user_in, #pass_in {
        margin-left: .5rem;
        font-size: 1.1rem;
    }
    .login-form button {
        font-size: .7rem;
    }

}